<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#探索数据" data-toc-modified-id="探索数据-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>探索数据</a></span><ul class="toc-item"><li><span><a href="#查看数据表基本信息" data-toc-modified-id="查看数据表基本信息-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>查看数据表基本信息</a></span></li></ul></li><li><span><a href="#描述性统计" data-toc-modified-id="描述性统计-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>描述性统计</a></span><ul class="toc-item"><li><span><a href="#被下单数最多的前五的商品(item_name)有哪些?" data-toc-modified-id="被下单数最多的前五的商品(item_name)有哪些?-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>被下单数最多的前五的商品(item_name)有哪些?</a></span></li><li><span><a href="#在item_name这一列中，一共有多少种商品被下单？" data-toc-modified-id="在item_name这一列中，一共有多少种商品被下单？-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>在item_name这一列中，一共有多少种商品被下单？</a></span></li><li><span><a href="#商品下单总数量多少？" data-toc-modified-id="商品下单总数量多少？-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>商品下单总数量多少？</a></span></li><li><span><a href="#目前item_price数据类型为？如何转换为浮点数？" data-toc-modified-id="目前item_price数据类型为？如何转换为浮点数？-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>目前item_price数据类型为？如何转换为浮点数？</a></span></li><li><span><a href="#在该数据集对应的时期内，收入(revenue)是多少?" data-toc-modified-id="在该数据集对应的时期内，收入(revenue)是多少?-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>在该数据集对应的时期内，收入(revenue)是多少?</a></span></li><li><span><a href="#在该数据集对应的时期内，一共有多少订单？" data-toc-modified-id="在该数据集对应的时期内，一共有多少订单？-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>在该数据集对应的时期内，一共有多少订单？</a></span></li><li><span><a href="#每一单(order)对应的平均总价是多少？" data-toc-modified-id="每一单(order)对应的平均总价是多少？-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>每一单(order)对应的平均总价是多少？</a></span></li><li><span><a href="#综合" data-toc-modified-id="综合-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>综合</a></span></li></ul></li></ul></div>

In [2]:
import numpy as np,pandas as pd

snack= pd.read_csv(r"C:\Users\Administrator\Desktop\snack.csv",encoding="utf_8",sep="\t")
snack.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

# 探索数据

## 查看数据表基本信息
- 数据表一共有多少行数据，有多少列？
- 是否存在缺失值？哪个字段？

```

   
    
   
   
```
# 描述性统计

##  被下单数最多的前五的商品(item_name)有哪些?
注意：要将quantity考虑进去。

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

```

   
    
   
   
```
## 在item_name这一列中，一共有多少种商品被下单？

50

50

50

```

   
    
   
   
```
## 商品下单总数量多少？

4972

```

   
    
   
   
```
## 目前item_price数据类型为？如何转换为浮点数？

dtype('O')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

```

   
    
   
   
```
## 在该数据集对应的时期内，收入(revenue)是多少?
注：单项商品收入为：数量*商品单价

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

39237.02

```

   
   
```
##  在该数据集对应的时期内，一共有多少订单？

1834

1834

1834

## 每一单(order)对应的平均总价是多少？

8.489186499350943

21.394231188658654

## 综合
- 统计哪些item_name的choice_description缺失值最多？最多的5类item_name求出来？
- 上面的5类item_name中，其choice_description的缺失值率是多少？

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98