<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#探索数据" data-toc-modified-id="探索数据-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>探索数据</a></span><ul class="toc-item"><li><span><a href="#查看数据表基本信息" data-toc-modified-id="查看数据表基本信息-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>查看数据表基本信息</a></span></li></ul></li><li><span><a href="#描述性统计" data-toc-modified-id="描述性统计-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>描述性统计</a></span><ul class="toc-item"><li><span><a href="#被下单数最多的前五的商品(item_name)有哪些?" data-toc-modified-id="被下单数最多的前五的商品(item_name)有哪些?-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>被下单数最多的前五的商品(item_name)有哪些?</a></span></li><li><span><a href="#在item_name这一列中，一共有多少种商品被下单？" data-toc-modified-id="在item_name这一列中，一共有多少种商品被下单？-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>在item_name这一列中，一共有多少种商品被下单？</a></span></li><li><span><a href="#商品下单总数量多少？" data-toc-modified-id="商品下单总数量多少？-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>商品下单总数量多少？</a></span></li><li><span><a href="#目前item_price数据类型为？如何转换为浮点数？" data-toc-modified-id="目前item_price数据类型为？如何转换为浮点数？-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>目前item_price数据类型为？如何转换为浮点数？</a></span></li><li><span><a href="#在该数据集对应的时期内，收入(revenue)是多少?" data-toc-modified-id="在该数据集对应的时期内，收入(revenue)是多少?-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>在该数据集对应的时期内，收入(revenue)是多少?</a></span></li><li><span><a href="#在该数据集对应的时期内，一共有多少订单？" data-toc-modified-id="在该数据集对应的时期内，一共有多少订单？-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>在该数据集对应的时期内，一共有多少订单？</a></span></li><li><span><a href="#每一单(order)对应的平均总价是多少？" data-toc-modified-id="每一单(order)对应的平均总价是多少？-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>每一单(order)对应的平均总价是多少？</a></span></li><li><span><a href="#综合" data-toc-modified-id="综合-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>综合</a></span></li></ul></li></ul></div>

In [4]:
import numpy as np,pandas as pd

snack= pd.read_csv(r"C:\Users\CDA\snack.csv",encoding="utf_8",sep="\t")
snack.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

# 探索数据

## 查看数据表基本信息
- 数据表一共有多少行数据，有多少列？
- 是否存在缺失值？哪个字段？

In [120]:
snack.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
revenue               4622 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 216.8+ KB

```

   
    
   
   
```
# 描述性统计

##  被下单数最多的前五的商品(item_name)有哪些?
注意：要将quantity考虑进去。

In [12]:
snack["item_name"].value_counts()[:5] #下单数

Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Name: item_name, dtype: int64

In [16]:
snack.groupby("item_name")["quantity"].sum().nlargest(5) #销售量

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

```

   
    
   
   
```
## 在item_name这一列中，一共有多少种商品被下单？

In [20]:
snack["item_name"].value_counts().count()

50

In [123]:
len(snack.groupby("item_name"))

50

In [33]:
snack.item_name.nunique()

50

```

   
    
   
   
```
## 商品下单总数量多少？

In [19]:
snack["item_name"].value_counts().sum()

4622

```

   
    
   
   
```
## 目前item_price数据类型为？如何转换为浮点数？

In [129]:
snack["item_price"].dtype

dtype('float64')

In [8]:
snack.item_price=snack.item_price.astype(float)
snack

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [7]:
def change(x):
    x=x.replace("$","")
    return x

snack["item_price"]=snack.item_price.apply(change)
snack

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

```

   
    
   
   
```
## 在该数据集对应的时期内，收入(revenue)是多少?
注：单项商品收入为：数量*商品单价

In [13]:
snack.quantity.astype(int)

revenue =  snack.quantity * snack.item_price
revenue
snack=snack.assign(revenue=revenue)
snack

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [14]:
snack.revenue.sum()

39237.02

```

   
   
```
##  在该数据集对应的时期内，一共有多少订单？

In [77]:
snack["order_id"].value_counts().count()

1834

In [92]:
len(snack.groupby("order_id"))

1834

In [94]:
snack.order_id.nunique()

1834

## 每一单(order)对应的平均总价是多少？

In [44]:
def avg(x):
    a = x.revenue/x.quantity
    return a

snack.groupby("order_id").sum().apply(avg,axis=1).mean() #删除.mean可见每张订单的物品平均总价

7.8443443470494785

In [99]:
def avg(x):
    a = x.revenue/x.quantity
    return a

sum(snack.groupby("order_id").sum().revenue)/len(snack.groupby("order_id"))

21.394231188658654

## 综合
- 统计哪些item_name的choice_description缺失值最多？最多的5类item_name求出来？
- 上面的5类item_name中，其choice_description的缺失值率是多少？

In [135]:
snack.assign(a=snack["choice_description"].isnull())\
.groupby("item_name").aggregate({"a":np.sum})\
.sort_values("a",ascending=False)[:5]

                                  a
item_name
Chips and Guacamole           479.0
Chips                         211.0
Bottled Water                 162.0
Chips and Fresh Tomato Salsa  110.0
Side of Chips                 101.0

In [129]:
snack.assign(a=snack["choice_description"].isnull())\
.groupby("item_name").aggregate({"a":np.sum})\
.sort_values("a",ascending=False)[:5]/snack.groupby("item_name").value.counts

AttributeError: 'DataFrameGroupBy' object has no attribute 'value'

In [125]:
def suma(x):
    return x.choice_description.isnull().sum()
snack.groupby("item_name").apply(suma).nlargest(5).index[:]

item_name
Chips and Guacamole             479
Chips                           211
Bottled Water                   162
Chips and Fresh Tomato Salsa    110
Side of Chips                   101
dtype: int64

In [126]:
def suma(x):
    return x.choice_description.count()
snack.groupby("item_name").apply(suma)

item_name
6 Pack Soft Drink                         54
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                              0
Bowl                                       2
Burrito                                    6
Canned Soda                              104
Canned Soft Drink                        301
Carnitas Bowl                             68
Carnitas Burrito                          59
Carnitas Crispy Tacos                      7
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             726
Chicken Burrito                          553
Chicken Crispy Tacos                      47
Chicken Salad                              9
Chicken Salad Bowl                       110
Chicken Soft Tacos                       115
Chips                                      0
Chips and Fresh Tomato Salsa               0
Chips and Guacamole                        0
Chips and Mild Fresh Tomato Salsa          0
Chips and Roasted Chili Corn Salsa         0
Chips and Roasted Chili-Corn Salsa         0
Chips and Tomatillo Green Chili Salsa      0
Chips and Tomatillo Red Chili Salsa        0
Chips and Tomatillo-Green Chili Salsa      0
Chips and Tomatillo-Red Chili Salsa        0
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          27
Salad                                      2
Side of Chips                              0
Steak Bowl                               211
Steak Burrito                            368
Steak Crispy Tacos                        35
Steak Salad                                4
Steak Salad Bowl                          29
Steak Soft Tacos                          55
Veggie Bowl                               85
Veggie Burrito                            95
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          7
dtype: int64

,order_id,quantity,item_price,revenue
item_name,,,,
6 Pack Soft Drink,968.925926,1.018519,6.610185,6.850556
Barbacoa Bowl,817.757576,1.000000,10.187273,10.187273
Barbacoa Burrito,821.076923,1.000000,9.832418,9.832418
Barbacoa Crispy Tacos,510.272727,1.090909,10.928182,12.610000
Barbacoa Salad Bowl,970.800000,1.000000,10.640000,10.640000
Barbacoa Soft Tacos,749.000000,1.000000,10.018400,10.018400
Bottled Water,1086.074074,1.302469,1.867654,4.007284
Bowl,236.000000,2.000000,14.800000,37.000000
Burrito,258.333333,1.000000,7.400000,7.400000
Canned Soda,734.576923,1.211538,1.320577,1.844615
Canned Soft Drink,1012.468439,1.166113,1.457641,2.005814
Carnitas Bowl,922.676471,1.044118,10.833971,12.216324
Carnitas Burrito,875.457627,1.016949,10.132712,10.446271
Carnitas Crispy Tacos,838.285714,1.142857,11.137143,13.705714
Carnitas Salad,1500.000000,1.000000,8.990000,8.990000
Carnitas Salad Bowl,1115.500000,1.000000,11.056667,11.056667
Carnitas Soft Tacos,941.825000,1.000000,9.398500,9.398500
Chicken Bowl,983.369146,1.048209,10.113953,11.080758
Chicken Burrito,899.282098,1.068716,10.082857,11.549837
Chicken Crispy Tacos,1008.127660,1.063830,10.045319,11.151277
Chicken Salad,1162.777778,1.000000,9.010000,9.010000
Chicken Salad Bowl,1064.581818,1.118182,11.170455,13.693182
Chicken Soft Tacos,855.608696,1.043478,9.635565,10.426174
Chips,985.800948,1.090047,2.342844,2.750427
Chips and Fresh Tomato Salsa,912.900000,1.181818,3.285091,9.399636
Chips and Guacamole,939.371608,1.056367,4.595073,5.168309
Chips and Mild Fresh Tomato Salsa,279.000000,1.000000,3.000000,3.000000
Chips and Roasted Chili Corn Salsa,681.772727,1.045455,3.084091,3.352273
Chips and Roasted Chili-Corn Salsa,970.111111,1.000000,2.390000,2.390000
Chips and Tomatillo Green Chili Salsa,957.441860,1.046512,3.087209,3.361628
Chips and Tomatillo Red Chili Salsa,949.083333,1.041667,3.072917,3.318750
Chips and Tomatillo-Green Chili Salsa,704.064516,1.064516,2.544194,2.852581
Chips and Tomatillo-Red Chili Salsa,917.200000,1.250000,2.987500,4.660500
Crispy Tacos,217.000000,1.000000,7.400000,7.400000
Izze,529.350000,1.000000,3.390000,3.390000
Nantucket Nectar,807.925926,1.074074,3.641111,4.143333
Salad,575.000000,1.000000,7.400000,7.400000
Side of Chips,839.297030,1.089109,1.840594,2.878020
Steak Bowl,918.255924,1.047393,10.711801,11.752654
Steak Burrito,892.491848,1.048913,10.465842,11.511223
Steak Crispy Tacos,1023.371429,1.028571,10.209714,10.723429
Steak Salad,590.500000,1.000000,8.915000,8.915000
Steak Salad Bowl,1020.344828,1.068966,11.847931,13.487931
Steak Soft Tacos,912.309091,1.018182,9.746364,10.082727
Veggie Bowl,850.235294,1.023529,10.211647,10.611176
Veggie Burrito,852.231579,1.021053,9.839684,10.550211
Veggie Crispy Tacos,668.000000,1.000000,8.490000,8.490000
Veggie Salad,1210.833333,1.000000,8.490000,8.490000
Veggie Salad Bowl,961.277778,1.000000,10.138889,10.138889
Veggie Soft Tacos,788.571429,1.142857,10.565714,12.991429

In [128]:
snack.pivot_table("choice_description",index="item_name",columns="choice_description"

SyntaxError: unexpected EOF while parsing (<ipython-input-128-ec24e977aa04>, line 1)